* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}
.game-state {
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 6px;
    background-color: #d2122e;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

td {
    border: 25px solid black;
   
}
